body {
    font-family: 'open-sans';
    background: url("../img/2.png") center top;
    background-size: 100% auto;
    background-repeat: repeat-y;
    width: 100%;
    margin: 0;
    position: absolute;
    background-color: rgb(206, 206, 206) !important;
}

.logo {
    margin: auto;
    height: 170px;
}

.content {
    height: 100%;
    min-height: 300px;
    margin: 0% auto;
    background-color: rgb(251, 251, 251);
    position: relative;
    word-wrap: break-word;
}

.footer {
    height: 50px;
    display: table;
    background-color: #ECECEC;
    margin: auto;
}

.np {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.logo-img img {
    height: 100%;
    width: 100%;
    margin: 1em;
}

.logo-img {
    height: 100px;
}

.logo-div {
    height: 120px;
}

.menu1 {
    display: table;
}

.main-menu li {
    display: table-cell;
    border-right: 1px solid rgb(199, 199, 199);
    background-color: rgb(220, 220, 220);
    height: 40px;
    width: 100px;
}

.main-menu li:hover {
    background-color: rgb(233, 233, 233);
}

.main-menu li a {
    width: 100%;
    height: 100%;
    display: block;
    text-decoration: none;
    vertical-align: middle;
    text-align: center;
    color: #000000;
    cursor: pointer;
    line-height: 40px;
}

.main-menu {
    display: table;
}

.m1e {
    margin: 1em;
}

.mt1e {
    margin-top: 1em;
}

.mb1e {
    margin-bottom: 1em;
}

.ml1e {
    margin-left: 1em;
}

.mr1e {
    margin-right: 1em;
}

.p1e {
  padding: 1em;
}

.pt1e {
  padding-top: 1em;
}

.pb1e {
  padding-bottom: 1em;
}

.pr1e {
  padding-right: 1em;
}

.pl1e {
  padding-left: 1em;
}

.pr0 {
  padding-right: 0;
}

.pl0 {
  padding-left: 0;
}


.price-li {
    float: left;
    width: 70px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #323b57;
    overflow: hidden;
    margin-right: 4px;
    margin-bottom: 4px;
    font-size: .7em;
    text-align: center;
    box-shadow: 0 0 5px #eee;
    border-radius: 5px;
    background: -moz-linear-gradient(top, #ffffff 0%, #d6d6d6 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%, #d6d6d6 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #d6d6d6 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #d6d6d6 100%);
    background: linear-gradient(top, #ffffff 0%, #d6d6d6 100%);
    box-shadow: 0 0 5px #eee;
    -moz-box-shadow: 0 0 5px #eee;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.price-li:hover {
    background: #323b57 !important;

}

.price-a:hover {
    color: #ffffff !important;
}

.price-li-active {
    background: #323b57 !important;

}

.price-a-active {
    color: #ffffff !important;
}

.price-a {
    cursor: pointer;
    height: 100%;
    width: 100%;
    display: block;
}

.diagramma {
    height: 330px;
    margin-bottom: 1em;
}

.border1 {
  border: 1px solid #ebebeb;
  border-radius: 5px;
}

.order-h {
  background: #f8f8ff url("../img/order_h.png");
  min-height: 50px;
  padding-top: 5px;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  background-size: contain;
}

.fll {
  float: left;
}

.flr {
  float: right;
}

.order-t td {
  padding: 5px;
}

.w150p {
  width: 150px;
}

.w110p {
  width: 110px;
}

.order-t-l {
  border-top: 1px solid #dadada;
  margin-top: 10px;
}

.button {
  /*width: 100px;*/
  padding: 5px;
  margin: 5px;
  display: block;
  text-align: center;
  color: black;
  background: -moz-linear-gradient(top,#ffffff 0%,#e7e7e7 100%);
  background: -webkit-linear-gradient(top,#ffffff 0%,#e7e7e7 100%);
  background: -o-linear-gradient(top,#ffffff 0%,#e7e7e7 100%);
  background: -ms-linear-gradient(top,#ffffff 0%,#e7e7e7 100%);
  background: linear-gradient(top,#ffffff 0%,#e7e7e7 100%);
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -webkit-font-smoothing: antialiased;
  transition: border linear .2s,box-shadow linear .2s;
  -moz-transition: border linear .2s,-moz-box-shadow linear .2s;
  -webkit-transition: border linear .2s,-webkit-box-shadow linear .2s;
  box-shadow: 0 0 3px #999;
  -moz-box-shadow: 0 0 3px #999;
  -webkit-box-shadow: 0 0 3px #999;
    text-decoration: none;
}

.button:hover {
  box-shadow: 0 0 5px #788;
  -moz-box-shadow: 0 0 5px #788;
  -webkit-box-shadow: 0 0 5px #788;
  background: -moz-linear-gradient(top,#ffffff 0%,#d6d6d6 100%);
  background: -webkit-linear-gradient(top,#ffffff 0%,#d6d6d6 100%);
  background: -o-linear-gradient(top,#ffffff 0%,#d6d6d6 100%);
  background: -ms-linear-gradient(top,#ffffff 0%,#d6d6d6 100%);
  background: linear-gradient(top,#ffffff 0%,#d6d6d6 100%);
  text-decoration: none;
}

.table-bg {
  background: #f8f8ff url("../img/order_h.png");
}

canvas, #jqplot {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.order-buy {
    color: green;
}

.order-sell {
    color: red;
}


#userOrders tr {
  transition: all .1s ease-in-out;
}

#userOrders tr.hover {
  background: rgba(222, 222, 255, 0.5);
}

#userOrders {
  border: 1px solid gainsboro;
  border-radius: 5px;
}


#userOrders::after {
  content: ' ';
  display: inline-block;
  position: absolute;
  bottom: -13px;
  right: -13px;
  width: 26px;
  height: 26px;
  background: url('./mouse-right.png');
}
.user-orders-context-menu {
  position: absolute;
  padding: 0;
  background: rgba(251, 251, 251, 0.7);
  border: 1px solid gray;
  width: 92%;
  transition: all .2s ease-in-out;
}

.user-orders-context-menu-option {
  display: block;
  padding: 5px;
  border-bottom: 1px solid darkgray;
  text-decoration: none;
  background: rgba(251, 251, 251, 0.7);
  cursor: pointer;
  transition: all .1s ease-in-out;
}

.user-orders-context-menu-option:hover {
 background: rgba(75, 86, 222, 0.7);
  text-decoration: none;
}


section.fixed-header table th {
  height: 0 !important;
  line-height: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  color: transparent !important;
  border: none !important;
  white-space: nowrap;
}

section.fixed-header  table th div {
  position: absolute;
  background: transparent;
  color: initial;
  padding: 9px 25px 9px 0;
  top: 0;
  line-height: normal;
  border: none;
}

section.fixed-header th:first-child div {
  border: none;
}

section.fixed-header {
  position: relative;
  border: none;
  padding-top: 37px;
  background: none;
}

section.fixed-header:before {
  content: ' ';
  display: block;
  background: #f8f8ff url("../img/order_h.png");
  height: 37px;
  position: absolute;
  top: 0;
  width: 100%;
}

section.fixed-header.positioned {
  position: absolute;
  top:100px;
  left:100px;
  width:800px;
  box-shadow: 0 0 15px #333;
}

.modal-footer.center, .modal-title.center {
  text-align: center;
}

td.type {
  font-weight: bolder;
}

td.type.buy {
  color : green;
}
td.type.sell {
  color: red;
}
